@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;200;300;600&display=swap");
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
.fontik{
  font-family: "Playpen Sans", sans-serif !important;
}
.headers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 7vh;
  width: 100vw;
  padding: 1vh;
  position: fixed;
}
.footer {
  background-color: #000000 !important;
  color: aliceblue !important;
  bottom: 0 !important;
  box-sizing: border-box;
}
.header{
  top: 0;
}
.github,
.telegram {
  height: 4.7vh;
  width: 4.7vh;
  background-color: #f0f8ff;
  background-position: center;
  border-radius: 0.5vh;
}
.inputColumn{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100vw;
  padding: 1vh;
}
@media screen and (max-width: 800px) {
  .headers{
    height: 6vh;
    width: 120vw;
  }
  .MuiTypography-h6 {
    font-size: 20vh !important;
  }
  .MuiInputBase-input{
    height: 10vh;
    font-size: 8vh;
  }
};