.success {
    color: green;
}

.barbie-mode {
    background: linear-gradient(#63ecef, #ff22c4);
}

.decart {
    border-radius: 95px;
}

.main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 90vh;
    flex-wrap: wrap;
    margin-top: 2vh;
    margin-bottom: 7vh;
}
.inputC{
    width: 50vw !important;
}
.form-container, .form{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    align-items: center;
}

.table-container {
    flex-direction: column;
    align-content:baseline;
    margin-bottom: 5vh;
    margin-top: 5vh;
}

.svg{
    background-color: aliceblue;
    width: 300px;
    height: 300px;
    border-radius: 30%;
}
table{
    width: 40vw !important;

}
@media screen and (min-width: 800px) and (max-width: 1200px) {
    .main-container{
        flex-direction: column;
        justify-content: space-around;
    }
  };
